@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .intro-img {
    width: 90%;
  }

  .habit-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filter-btn {
    margin: 0;
  }
}
